<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Problem9CombineListsOfLetters/src/Problem9CombineListsOfLetters.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Problem9CombineListsOfLetters"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Problem9CombineListsOfLetters"/>
</launchConfiguration>
