USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 16.3.2015 г. 20:47:30 ч. ******/
CREATE DATABASE [ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATM.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATM_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[CardAccounts]    Script Date: 16.3.2015 г. 20:47:30 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CardAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [char](10) NOT NULL,
	[Pin] [char](4) NOT NULL,
	[Cash] [money] NOT NULL,
 CONSTRAINT [PK_CardAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransactionsHistory]    Script Date: 16.3.2015 г. 20:47:30 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransactionsHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [char](10) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_TransactionHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CardAccounts] ON 

INSERT [dbo].[CardAccounts] ([Id], [Number], [Pin], [Cash]) VALUES (1, N'0000000000', N'0000', 10000.0000)
INSERT [dbo].[CardAccounts] ([Id], [Number], [Pin], [Cash]) VALUES (2, N'1111111111', N'1111', 10000.0000)
INSERT [dbo].[CardAccounts] ([Id], [Number], [Pin], [Cash]) VALUES (3, N'2222222222', N'2222', 9000.0000)
SET IDENTITY_INSERT [dbo].[CardAccounts] OFF
SET IDENTITY_INSERT [dbo].[TransactionsHistory] ON 

INSERT [dbo].[TransactionsHistory] ([Id], [CardNumber], [TransactionDate], [Amount]) VALUES (1, N'2222222222', CAST(N'2015-03-16 20:44:52.373' AS DateTime), -1000.0000)
SET IDENTITY_INSERT [dbo].[TransactionsHistory] OFF
USE [master]
GO
